html {
  height: 100%;
  overflow: hidden; 
}

body {
  background: #948b79;
  background: repeating-linear-gradient(315deg, #75756c, #75756c 40px, #948b79 40px, #948b79 80px);
  padding: 20px;
  height: 100%; 
}